**/plugin.yml

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gradle/
bukkit/*/build/
bukkit/build
core/build
build
*/.gitignore
bin/
/bin/*
/.classpath
/.project
.idea
*.iml
*/.settings
/core/out/production/classes/META-INF/
*/out/production/*
*/out/*
/bukkit/legacy/out/test/classes/META-INF/
