name: Java CI Dev

on:
  push:
    tags:
      - '*'
    branches: [development]
  pull_request:
    types: [opened, reopened, synchronize]
  pull_request_review:
    types: [submitted, editted]

jobs:
  test_windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Test in windows environment
        run: ./gradlew test

  test_ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Test in ubuntu environment
        run: ./gradlew test
        
  build:
    needs: [ test_windows, test_ubuntu ]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        path: build/libs/TriggerReactor-*.jar
  
#   upload_artifact:
    
#     runs-on: ubuntu-latest
#     needs: [build]
    
#     steps:
#     - name: get artifact url
#       uses: octokit/request-action@v2.x
#       id: get_artifact
#       with:
#         route: GET /repos/:owner/actions/artifacts/
#         owner: ${{ github.repository }}
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#     - name: comment PR
#       uses: unsplash/comment-on-pr@master
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       with:
#         msg: ${{ fromJson(steps.get_artifact.outputs.data)[0].archive_download_url }}
#         check_for_duplicate_msg: true
