name: Java CI

on:
  push:
    tags: 
      - '*-Release'

jobs:
  test_windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Test in windows environment
        run: ./gradlew test

  test_ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Test in ubuntu environment
        run: ./gradlew test

  build:
    needs: [ test_windows, test_ubuntu ]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Show status
        run: |
          echo event=${{ github.event_name }}
          echo action=${{ github.event.action }}
          echo ref=${{ github.ref }}
          echo merge=${{ github.event.pull_request.merged }}
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build javadoc -x test
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/libs/TriggerReactor-*.jar
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
      - name: update javadoc
        run: |
          mkdir build/docs/tmp
          cd build/docs/tmp
          git config --global user.email "wysohn2002@naver.com"
          git config --global user.name "wysohn"
          git init
          git remote add origin https://x-access-token:${{ secrets.TRG_JAVADOC }}@github.com/TriggerReactor/TriggerReactor.github.io.git
          git config pull.rebase true   # rebase
          git pull origin master

          cp -rf ../javadoc/* ./
          git add *
          git commit -m "auto update from workflow"
          git push origin master
