name: Java CI

on:
  push:
    tags:
      - '*-Beta'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: ayltai/setup-graalvm@v1
      with:
        java-version: 16
        graalvm-version: 21.1.0
        native-image: true

    - name: Show status
      run: |
        echo event=${{ github.event_name }}
        echo action=${{ github.event.action }}
        echo ref=${{ github.ref }}
        echo merge=${{ github.event.pull_request.merged }}
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build -Pversion=${GITHUB_REF#refs/*/}
    - name: Cache Build
      uses: actions/cache@v2
      with:
        path: build
        key: build

  to_release:
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file_name:
          - bukkit-latest
          - bukkit-legacy
          - sponge

    steps:
      - name: Cache Build
        uses: actions/cache@v2
        with:
          path: build
          key: build
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v1-release
        continue-on-error: true
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/libs/TriggerReactor-{{matrix.file_name}}-*.jar
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
          prerelease: true
